Repository DIT112-V21/group-09, pull requests merged in 2021-04, with the labels that each got.

#14 Implement basic obstacle avoidance
  arduino/smartcar/smartcar.ino
Labels: C++, assignment

#15 Frontend app setup
  .DS_Store
  .gitignore
  frontendApp/.DS_Store
  frontendApp/Drive.html
  frontendApp/images/.DS_Store
  frontendApp/images/Mars.jpg
  frontendApp/images/Rover.jpg
  frontendApp/images/cactus.jpg
  frontendApp/images/kaktos.jpg
  frontendApp/images/roundMars.jpg
  frontendApp/images/smallRover.jpg
  frontendApp/index.html
  frontendApp/main.js
  frontendApp/package-lock.json
  frontendApp/package.json
  frontendApp/style.css
Labels: CSS, JS, NodeJS, sprint-1

#16 Create commit validation workflow
  .github/workflows/commit-validator.yml
Labels: Commit Message

#22 Update workflow files
  .github/workflows/arduino-build.yml
  .github/workflows/commit-validator.yml
Labels: enhancement, project

#24 Implement MQTT connectivity
  arduino/smartcar/secrets.hpp
  arduino/smartcar/smartcar.ino
Labels: C++, sprint-1

#55 Update spec.js for simpler async
  frontendApp/test/spec.js
Labels: bug, project

#56 Update Readme with badges and logo
  README.md
Labels: documentation, enhancement, extra

#60 Update home page with popovers
  frontendApp/assets/css/style.css
  frontendApp/assets/css/typography.css
  frontendApp/assets/images/.DS_Store
  frontendApp/assets/images/bg-mars-03.jpg
  frontendApp/assets/images/home-rover-model.png
  frontendApp/index.html
  frontendApp/main.js
  frontendApp/package-lock.json
  frontendApp/package.json
Labels: CSS, JS, M1, NodeJS

#65 Implement manual control buttons
  frontendApp/assets/css/manual.css
  frontendApp/assets/css/style.css
  frontendApp/assets/css/typography.css
  frontendApp/assets/js/communication.js
  frontendApp/assets/js/manual.js
  frontendApp/assets/js/renderer.js
  frontendApp/manual.html
  frontendApp/mission.html
Labels: CSS, JS, M4

#66 Publish rover information
  arduino/smartcar/smartcar.ino
Labels: C++, M1

#67 Implement dashboard data update
  frontendApp/assets/css/style.css
  frontendApp/assets/css/typography.css
  frontendApp/assets/js/communication.js
  frontendApp/manual.html
Labels: CSS, JS, M2, M3

#62 Mission builder table layout
  frontendApp/assets/css/style.css
  frontendApp/assets/js/mission.js
  frontendApp/mission.html
Labels: CSS, JS, M4, NodeJS

#68 Remote control frontend implementation
  arduino/smartcar/smartcar.ino
  frontendApp/assets/css/style.css
  frontendApp/assets/js/communication.js
  frontendApp/assets/js/manual.js
  frontendApp/manual.html
Labels: CSS, JS, M1, M2, NodeJS, mqtt, sprint-2

#69 Manual car control 0427
  arduino/smartcar/smartcar.ino
Labels: C++, M2, sprint-2

#70 Implement data exchange
  frontendApp/assets/css/style.css
  frontendApp/assets/js/communication.js
  frontendApp/manual.html
Labels: CSS, JS, M2, NodeJS, mqtt, sprint-2
